.header-container{
    background-color: rgb(112, 97, 241);
    border-radius: 1rem;
    width: 95%;
    margin: 1rem auto;
    padding-bottom:.1rem;
}
.header-name{
    font-size: 4rem;
    color: rgb(255, 255, 255);
}