.singer-container{
    background-color: rgb(181, 109, 248);
    border-radius: 1rem;
}
.singer-container img{
    width: 50%;
    height: 160px;
    margin-top: 1rem;
    border-radius: 50%;
}
.button{
    background-color: rgb(86, 31, 238);
    color: rgb(245, 242, 242);
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
    border-radius: .5rem;
    border: rgb(77, 69, 70) solid 2px;
    cursor: pointer;
}
.icon{
    width: 60%;
    margin: 1rem auto;
    display: flex;
justify-content: space-evenly;}